$menu__breakpoint: 991px;

#header {
	width: 100%;
	background: white;
	// border-bottom: 1px solid #e3e3e3;
	z-index: 100;
	position: relative;
	&.is_sticky_now {
		background: white;
		top: 0;
		left: 0;
		position: fixed;
		z-index: 9999;
		box-shadow: 0px 10px 20px #00000029;
	}

	.header_wrap {
		padding: 0 0px;

		@include media-breakpoint-down(sm) {
			padding: 0 0px;
		}

		.btn__contact {
			font-weight: 500;
			font-size: 12px;
			line-height: 18px;
			text-align: center;
			color: #fbfbfb;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			padding: 18px 20px;
			background: #fe6020;
			border-radius: 40px;
			border: 1px solid #fe6020;
			display: none;
			@media only screen and (min-width: $menu__breakpoint) {
				display: block;
			}

			&:hover {
				background-color: #fbfbfb;
				border: 1px solid #fe6020;
				text-decoration: none;
				color: #fe6020;
			}
		}

		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 90px;
		border-bottom: 1px solid #cab6ad;

		img {
			width: 117px;

			&.default {
				display: block;
			}

			&.sticky {
				display: none;
			}
		}
	}
}

#top {
	height: 0px;
}

body.overlay-open {
	overflow: hidden;
}

body.nav-active {
	position: relative;
	overflow: hidden;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(31, 31, 31, 0.9);
		z-index: 10;
	}
}

#wrapper {
	width: 100%;
	overflow: hidden;
	background: white;
}

/*_______________________________nav*/
#nav {
	margin-left: 20px;
	-ms-flex-positive: 1;
	flex-grow: 1;

	@media only screen and (min-width: $menu__breakpoint) {
		-ms-flex-positive: 1;
		flex-grow: 1;
		-ms-flex-order: 0;
		order: 0;
		margin-left: 0;
	}

	/*_______________________________hamburger*/
	.nav-opener {
		position: relative;
		width: 30px;
		height: 30px;
		font-size: 0;
		line-height: 0;
		float: right;

		@media only screen and (min-width: $menu__breakpoint) {
			display: none;
		}

		&:before,
		&:after,
		& span {
			transition: transform 0.3s ease-in-out;
			background: black;
			position: absolute;
			top: 16px;
			left: 15%;
			right: 15%;
			height: 3px;
			margin-top: -2px;
		}

		&:before,
		&:after {
			content: "";
			top: 10px;
		}

		&:after {
			top: 22px;
		}

		&:hover {
			opacity: 0.9;
		}

		.nav-active & span {
			opacity: 0;
		}

		.nav-active &:after,
		.nav-active &:before {
			transform: rotate(45deg);
			top: 16px;
			left: 15%;
			right: 15%;
		}

		.nav-active &:after {
			transform: rotate(-45deg);
		}
	}

	/*_______________________________menu body*/
	.nav-drop {
		transition: all 0.3s ease-in-out;
		background: transparent;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 999;
		opacity: 0;
		visibility: hidden;
		text-align: center;
		padding: 0;
		font-size: 14px;
		line-height: 17px;
		color: #000000;

		@media only screen and (min-width: $menu__breakpoint) {
			position: static;
			opacity: 1;
			visibility: visible;
			color: #000;
			background: none;
			text-align: left;
		}

		.nav-active & {
			opacity: 1;
			visibility: visible;
		}

		.resize-active & {
			transition: none !important;
		}

		& > ul {
			padding-left: 0;

			.resize-active & {
				transition: none !important;
			}

			padding-top: 30px;

			@media only screen and (min-width: $menu__breakpoint) {
				padding-top: 0;
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-end;
				margin-bottom: 0;
				padding-right: 20px;
			}

			& > li {
				margin-left: 20px;
				margin-right: 20px;

				&.current-menu-item > a {
					color: white;
					@media only screen and (min-width: $menu__breakpoint) {
						color: #fe6020;
					}

					&:before {
						transform: scale(1, 1);
						opacity: 1;
					}
				}
				margin-bottom: 10px;
				@media only screen and (min-width: $menu__breakpoint) {
					margin-bottom: 0;
				}

				ul.sub-menu {
					background-color: #ffffff;
					box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
					border-radius: 4px;
					margin-top: 10px;
					padding: 21px 11px 11px;

					& > li {
						padding-bottom: 10px;

						a {
							text-transform: uppercase;
							font-size: rem(16);
							color: #000;
							line-height: 1.3;
						}
					}
				}

				@media only screen and (min-width: $menu__breakpoint) {
					padding-left: 0;

					&:hover {
						a {
							opacity: 1;
							color: #fe6020;
						}
					}

					ul.sub-menu {
						background-color: #ffffff;
						box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
						border-radius: 0px;
						left: 0px;
						z-index: 1001;
						top: 52px;
						padding: 20px 20px 10px;
						width: 218px;
						margin-top: 0px;

						& > li {
							padding-bottom: 10px;

							&:hover {
								a {
									// color: $color-white;
									color: black !important;

									&::before {
										display: none !important;
									}
								}
							}

							a {
								text-transform: uppercase;
								font-size: rem(16);
								color: #000;
							}
						}
					}
				}
			}
		}

		li {
			position: relative;
			list-style: none;

			a {
				display: inline-block;
				position: relative;

				&:hover {
					text-decoration: none;
				}
			}

			& > ul {
				display: none;
				width: 100%;
				top: 100%;
				left: 0;

				@media only screen and (min-width: $menu__breakpoint) {
					position: absolute;
				}
			}

			&:hover > ul {
				display: block;
			}
		}

		a {
			font-weight: 500;
			font-size: 12px;
			line-height: 18px;
			text-align: center;
			color: #fff;

			@media only screen and (min-width: $menu__breakpoint) {
				color: #231f20;
			}
		}
	}
}

#nav .nav-drop li.menu-item-has-children a::before {
	display: none !important;
}

#nav .nav-drop li.menu-item-has-children {
	position: relative;

	@media only screen and (min-width: $menu__breakpoint) {
		padding-right: 20px !important;
	}

	&::after {
		// content: url(../images/svg/da.svg);
		position: absolute;
		right: 3px;
		top: -3px;
		cursor: pointer;
	}
}

#header.is_sticky_now #nav .nav-drop li a {
	color: #000;
	&:hover {
		color: #fe6020;
	}
}

#header.is_sticky_now .header_wrap .button__style__1 {
	color: #000;
	border: 2px solid #000;

	&:hover {
		color: white;
		border: 2px solid white;
	}
}

#header.is_sticky_now #nav .nav-drop li a::before {
	background-color: #000;
}

#header.is_sticky_now .header_wrap img.default {
	display: none;
}

#header.is_sticky_now .header_wrap img.sticky {
	display: block;
}

#header.is_sticky_now #nav .nav-drop li.menu-item-has-children::after {
	// content: url(../images/svg/dab.svg);
}

#header.is_sticky_now #nav .nav-opener:before {
	background-color: #000;
}

#header.is_sticky_now #nav .nav-opener:after {
	background-color: #000;
}

#header.is_sticky_now #nav .nav-opener span {
	background-color: #000;
}

.nav-active #header.is_sticky_now #nav .nav-drop {
	background-color: white;
}
