p.center-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;

    text-align: center;

    color: #333333;
}

.button_container {
    position: relative;

    &:hover {
        text-decoration: none;
        color: black;
    }
}

.button {
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    color: black;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.03em;
    margin-right: 5px;
}

.button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    /* Thickness of the light yellow line */
    background-color: #ffded1;
    left: 0;
    bottom: 0;
}

.button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    /* Thickness of the light yellow line */
    left: 0;
    bottom: 0;
}

.button:hover::after {
    background-color: #fe6020;
    width: 100%;
    /* Start at 0 width */
    transition: width 0.3s ease-in-out;
}

.button:hover::after {
    width: 100%;
    /* Grow orange line on hover */
}