.block_2_section {
    padding: 28px 0 30px;

    .wrapper {
        display: flex;
        max-width: 1048px;
        flex-wrap: wrap;
        margin: auto;

        .left {
            width: 50%;
            padding-right: 25px;
            img{
                width: 100%;
                height:auto;
            }

            @include media-breakpoint-down(md) {
                width: 100%;
                padding-right: 0px;
            }
        }

        .right {
            width: 50%;
            padding-left: 25px;

            @include media-breakpoint-down(md) {
                width: 100%;
                padding-left: 0;
                padding-top: 20px;
            }
        }

    }
}