.buz_login_section {
    padding-top: 90px;
    padding-bottom: 127px;
    @include media-breakpoint-down(md) {
        padding: 50px 0;
    }
    .wrapper {
        display: flex;
        justify-content: center;
        max-width: 1138px;
        margin: auto;

        @include media-breakpoint-down(md) {
            flex-direction: column;
        }

        .left {
            width: 50%;
            text-align: center;
            @include media-breakpoint-down(md) {
                margin-bottom: 40px;
            }
            img{
                max-width: 350px;
            }
        }

        .right {
            max-width: 499px;

            h2 {
                margin-bottom: 20px;
            }

            p {
                margin-bottom: 40px;
            }
        }
    }
}