.contact_us_section {
    padding: 100px 0 20px;
    @include media-breakpoint-down(sm) {
        padding: 25px 0;
    }
    .title {
        border-top: 1px solid #cab6ad;
    }
    .layer2 {
        margin-top: 50px;
    }
    .layer2-left {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 120%;
        color: #231f20;
        max-width: 556px;
    }
    .description {
        a:hover{
            color: #fe6020 !important;
            text-decoration: none;
        }
        margin-top: 95px;
        h3 {
            font-weight: 500;
            font-size: 24px;
            line-height: 120%;
            color: #231f20;
        }
        h4 {
            font-weight: 400;
            font-size: 10px;
            line-height: 15px;
            letter-spacing: 0.08em;
            color: #231f20;
            margin-bottom: 20px;
        }
        .address {
            max-width: 170px;
        }
        .address a {
            font-weight: 300;
            font-size: 14px;
            line-height: 140%;
            color: #231f20;
            display: block;
            margin-bottom: 5px;
        }
        .working_hours {
            font-weight: 300;
            font-size: 12px;
            line-height: 140%;

            color: #615651;
            margin-bottom: 50px;
        }
        h4.contact {
            margin-bottom: 12px;
        }

        .phone {
            a {
                font-weight: 300;
                font-size: 14px;
                line-height: 140%;
                color: #231f20;
                display: inline-block;
            }

            span {
                font-weight: 300;
                font-size: 12px;
                line-height: 100%;
                color: #615651;
            }
        }
        .website a {
            font-weight: 300;
            font-size: 14px;
            line-height: 100%;
            color: #231f20;
            text-decoration: underline;
        }
        .email a {
            font-weight: 300;
            font-size: 14px;
            line-height: 100%;
            color: #231f20;
        }
        .email{
            margin-bottom: 50px;
        }
    }
    .layer2-right {
        @include media-breakpoint-down(md) {
            padding-top: 50px;
        }

        p {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 150%;

            color: #000000;
        }
    }
    .nf-error-msg {
        font-weight: 400 !important;
        font-size: 14px !important;
        line-height: 150% !important;
    }
    .nf-form-errors .nf-error-msg {
        padding-left: 10px;
    }
    .nf-form-cont {
        .label-above .nf-field-label {
            padding-left: 13px;
        }
        .nf-multi-cell .nf-cell {
            padding: 5px 16px;
            @include media-breakpoint-down(lg) {
                padding: 5px 2px;
            }
        }
        .ninja-forms-req-symbol {
            color: #231f20;
            position: relative;
            left: -5px;
        }
        .nf-response-msg {
            p {
                color: black !important;
            }
        }

        .nf-before-form-content {
            display: none;
        }

        .nf-error.field-wrap .nf-field-element:after {
            background: #e80000;
            color: #fff;
            font-size: 16px;
            content: "\f12a";
            position: absolute;
            top: 5px;
            right: 4px;
            border-radius: 30px;
            bottom: 1px;
            height: 40px;
            width: 40px;
            line-height: 41px;
            text-align: center;
            transition: all 0.5s;
        }

        max-width: 720px;
        margin-left: auto;
        @include media-breakpoint-down(lg) {
            max-width: none;
            margin-right: auto;
        }

        .nf-form-content {
            @include media-breakpoint-down(lg) {
                padding: 0;
            }
            label {
                font-weight: 400;
                font-size: 13px;
                color: #000000;
                line-height: 1.2;
                letter-spacing: 0.02em;
                display: block;
            }

            input:not([type="submit"]) {
                border: 1px solid #231f20;
                border-radius: 30px;
                background-color: white;
                &::placeholder {
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 150%;
                    text-transform: capitalize;
                    color: #d1d0cf;
                }
            }

            .list-select-wrap .nf-field-element > div {
                background-color: white;
            }

            textarea {
                border: 1px solid #231f20;
                border-radius: 20px;
                background-color: white;
                height: 260px;
            }
            .submit-wrap .nf-field-label {
                position: relative;
                &::after {
                    content: url(../images/svg/link_arrow.svg);
                    position: absolute;
                    top: 10px;
                    // right: -61px;
                    left: 57px;
                }
            }
            .submit-wrap .nf-field-element {
                position: relative;
                display: flex;
                align-items: center;
                input {
                    position: relative;
                    text-transform: uppercase;
                    display: block;
                    color: black;
                    font-size: 13px;
                    font-weight: 400;
                    font-size: 13px;
                    letter-spacing: 0.03em;
                    background-color: transparent;
                    padding: 0;
                    padding-right: 9px;
                    height: 30px;
                    cursor: pointer;
                }
                svg {
                    cursor: pointer;
                }

                &::before {
                    content: "";
                    position: absolute;
                    width: 75px;
                    height: 1px; /* Thickness of the light yellow line */
                    background-color: #ffded1;
                    left: 0;
                    bottom: 0;
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 1px; /* Thickness of the light yellow line */
                    left: 0;
                    bottom: 0;
                }

                &:hover::after {
                    background-color: #fe6020;
                    width: 75px; /* Start at 0 width */
                    transition: width 0.3s ease-in-out;
                }
            }
        }
    }
}
