.contact_us_section {
    padding: 60px 0;
    @include media-breakpoint-down(sm) {
        padding: 25px 0;
    }
    .title {
        border-top: 1px solid #cab6ad;
    }
    .layer2 {
        margin-top: 70px;
    }
    .layer2-left {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 120%;
        color: #231f20;
        max-width: 556px;
    }
    .description {
        width: 100%;
        height: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h3 {
            font-weight: 500;
            font-size: 24px;
            line-height: 120%;
            color: #231f20;
        }
        h4 {
            font-weight: 400;
            font-size: 10px;
            line-height: 15px;
            letter-spacing: 0.08em;
            color: #231f20;
            margin-bottom: 20px;
        }
        .address {
            max-width: 170px;
        }
        .address a {
            font-weight: 300;
            font-size: 14px;
            line-height: 140%;
            color: #231f20;
            display: block;
            margin-bottom: 5px;
        }
        .working_hours {
            font-weight: 300;
            font-size: 12px;
            line-height: 140%;

            color: #615651;
            margin-bottom: 20px;
        }
        h4.contact {
            margin-bottom: 12px;
        }

        .phone {
            a {
                font-weight: 300;
                font-size: 14px;
                line-height: 140%;
                color: #231f20;
                display: inline-block;
            }

            span {
                font-weight: 300;
                font-size: 12px;
                line-height: 100%;
                color: #615651;
            }
        }
        .website a {
            font-weight: 300;
            font-size: 14px;
            line-height: 100%;
            color: #231f20;
            text-decoration: underline;
        }
        .email a {
            font-weight: 300;
            font-size: 14px;
            line-height: 100%;
            color: #231f20;
        }
    }
    .layer2-right {
        @include media-breakpoint-down(md) {
            padding-top: 30px;
        }

        p {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 150%;

            color: #000000;
        }
    }

    .nf-form-cont {
        .nf-response-msg {
            p {
                color: black !important;
            }
        }

        .nf-before-form-content {
            display: none;
        }

        max-width: 728px;
        margin-left: auto;
        margin-right: auto;
        padding: 50px 50px 20px;

        @include media-breakpoint-down(md) {
            padding: 20px;

            .nf-field-label {
                text-align: left;
            }
        }

        .nf-form-content {
            label {
                font-weight: 400;
                font-size: 13px;
                color: #000000;
                letter-spacing: 0.1em;
                line-height: 1.2;
            }

            input:not([type="button"]) {
                border: 1px solid #dddddd;
                background-color: white;
            }

            select {
                border: 1px solid #dddddd;
                background-color: transparent;
            }

            .list-select-wrap .nf-field-element > div {
                background-color: white;
            }

            textarea {
                border: 1px solid #dddddd;
                background-color: white;
            }
            .submit-wrap .nf-field-element{
                position: relative;
                input {
                    position: relative;
                    text-transform: uppercase;
                    display: block;
                    color: black;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 20px;
                    letter-spacing: 0.03em;
                    margin-right: 5px;
                    background-color: transparent;
                }

                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px; /* Thickness of the light yellow line */
                    background-color: #ffded1;
                    left: 0;
                    bottom: 0;
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 1px; /* Thickness of the light yellow line */
                    left: 0;
                    bottom: 0;
                }

                &:hover::after {
                    background-color: #fe6020;
                    width: 100%; /* Start at 0 width */
                    transition: width 0.3s ease-in-out;
                }
            }
        }
    }
}
