.marquee_section {
    padding: 40px 0 60px;
    @include media-breakpoint-down(sm) {
        padding: 25px 0;
    }
    .marquee__wrap {
        display: flex;
        align-items: center;
        height: 140px;
    }
    span {
        font-weight: 500;
        font-size: 110px;
        line-height: 120%;
        color: #231f20;
    }
    .svg__wrap {
        margin-left: 50px;
        margin-right: 50px;
    }
}

.marquee-wrapper {
    // background: #2f394c;
    // text-align: center;
}
.marquee-wrapper .marquee-container {
    overflow: hidden;
}
.marquee-inner .half {
    float: left;
    width: 47%;
    display: flex;
    align-items: center;
    height: 140px;
}
.marquee-wrapper .marquee-block {
    height: 150px;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    white-space: nowrap;
}
.marquee-inner {
    display: block;
    width: 200%;
    position: absolute;
    
}
.marquee-inner.to-left {
    animation: marqueeLeft 15s linear infinite;
    &:hover {
        animation-play-state: paused;
    }
}
.marquee-inner.to-right {
    animation: marqueeRight 15s linear infinite;
    &:hover {
        animation-play-state: paused;
    }
}
@keyframes marqueeLeft {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}
@keyframes marqueeRight {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}
