.related_products_section {
    padding: 60px 0;
    @include media-breakpoint-down(sm) {
        padding: 25px 0;
    }
    .title {
        border-top: 1px solid #cab6ad;
    }
    .layer2 {
        padding-top: 50px;
        padding-bottom: 70px;
    }
    .layer2-left {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 120%;
        color: #231f20;
        max-width: 556px;
    }
    .layer2-right {
        @include media-breakpoint-down(md) {
            padding-top: 30px;
        }

        p {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 150%;

            color: #000000;
        }
        .link {
            // margin-top: 50px;
        }
    }
    .slider-class {
        .slick-track {
            .slick-slide:nth-child(3n + 1) {
                .tile {
                    background: #231f20;
                }
            }
            .slick-slide:nth-child(3n + 2) {
                .tile {
                    background: #615651;
                }
            }
            .slick-slide:nth-child(3n + 3) {
                .tile {
                    background: #8c7b74;
                }
            }
        }

        margin-left: -8px;
        .slick-slide {
            // margin-left: 15px;
            // margin-right: 15px;
        }
        .slick-list {
            padding-left: 0px !important; // half partial
        }
        a.tile__wrap {
            padding: 8px;
            padding: 8px;
            flex: 0 0 33.33%;
            width: 33.33%;
            text-decoration: none;
            @include media-breakpoint-down(md) {
                flex: 0 0 100%;
                width: 100%;
                padding-bottom: 16px;
            }

            .tile {
                width: 100%;
                padding-top: 54.89%;
                position: relative;
                height: 0;
                border-radius: 20px;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: end;
                // .tile__number {
                //     position: absolute;
                //     font-size: 222px;
                //     font-weight: 500;
                //     color: #e3e3e3;
                //     left: -69px;
                //     top: 109px;
                //     line-height: 0;
                //     z-index: 2;
                //     transition: all 0.8s;
                //     @media only screen and (max-width: 1350px) {
                //         top: 10vw;
                //         font-size: 18vw;
                //     }
                //     @include media-breakpoint-down(md) {
                //         top: 109px;
                //         font-size: 222px;
                //     }
                // }
                .tile__subtext {
                    position: absolute;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 20px;
                    letter-spacing: 0.03em;
                    text-transform: uppercase;
                    color: #ffffff;
                    width: 133px;
                    text-align: right;

                    right: 30px;
                    top: 18px;
                    z-index: 1;
                    // @media only screen and (max-width: 1350px) {
                    //     top: 10vw;
                    //     font-size: 18vw;
                    // }
                    @include media-breakpoint-down(lg) {
                        right: 15px;
                        top: 15px;
                    }
                    @include media-breakpoint-down(md) {
                        right: 30px;
                        top: 20px;
                    }
                    @media only screen and (max-width: 420px) {
                        right: 15px;
                        top: 15px;
                    }
                }
                .tile__text {
                    font-weight: 500;
                    font-size: 50px;
                    line-height: 100%;
                    color: #e3e3e3;
                    padding: 20px;
                    @media only screen and (max-width: 1350px) {
                        font-size: 3vw;
                    }
                    @include media-breakpoint-down(md) {
                        font-size: 36px;
                    }
                    @include media-breakpoint-down(xs) {
                        font-size: 22px;
                    }
                }
                // &:hover {
                //     .tile__number {
                //         position: absolute;
                //         font-size: 270px;
                //         top: 129px;
                //         color: #fbfbfb;
                //         @media only screen and (max-width: 1350px) {
                //             top: 12vw;
                //             font-size: 20vw;
                //         }
                //         @include media-breakpoint-down(md) {
                //             top: 129px;
                //             font-size: 270px;
                //         }
                //     }
                // }
            }
        }
    }
}
