.slider_alt_1_section {
    padding-top: 16px;
    .slider-class {
        .img__wrap {
            border-radius: 20px;
            position: relative;
            overflow: hidden;
            .mask {
                height: 100%;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.3);
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;
            }
            img {
                width: 100%;
                height: 540px;
                object-fit: cover;
            }
        }

        .slick-arrow {
            position: absolute;
            background: transparent;
            z-index: 1004;
            font-size: 0;
            border: 0;
            outline: 0;

            &:hover {
                cursor: pointer;
            }
        }

        .slick-next {
            right: 30px;
            bottom: 30px;

            &:before {
                content: url("../images/svg/next.svg");
            }
            @include media-breakpoint-down(sm) {
            }
        }

        .slick-prev {
            right: 105px;
            bottom: 30px;

            @include media-breakpoint-down(sm) {
            }

            &:before {
                content: url("../images/svg/prev.svg");
            }
        }
    }
    .first-slide {
        .slick-prev {
            &:before {
                content: url("../images/svg/prevbb.svg");
            }
        }
    }
    .last-slide {
        .slick-next {
            &:before {
                content: url("../images/svg/nextbb.svg");
            }
        }
    }
}
