.slider_banner_section {
    padding-top: 132px;

    .slick-list {
        // padding-left: 0px!important; // half partial
    }

    .each__card {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .left {
            width: 64%;

            @media only screen and (max-width: 1400px) {
                width: 50%;
            }

            @media only screen and (max-width: 991px) {
                width: 100%;
            }

            img {
                width: 100%;
                height: 386px;
                object-fit: cover;

                @media only screen and (min-width: 1600px) {
                    height: 500px;
                }
                @media only screen and (min-width: 1800px) {
                    height: 600px;
                }
                @media only screen and (min-width: 2000px) {
                    height: 700px;
                }
            }
        }

        .right {
            width: 36%;
            padding-top: 20px;
            padding-right: 70px;
            padding-left: 36px;

            @media only screen and (max-width: 1400px) {
                width: 50%;
            }

            @media only screen and (max-width: 991px) {
                width: 100%;
                padding-right: 0px;
                padding-left: 0px;
            }

            h3 {
                margin-bottom: 30px;
            }

            a {
                font-family: $poppins-font;
                font-weight: 700;
                font-size: 13px;
                line-height: 16px;

                text-transform: uppercase;

                color: #000000;
                background: #FFFFFF;
                border: 2px solid #CCCCCC;
                display: inline-block;
                padding: 15px 47px;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

}