.slider_alt_3_section {
    padding: 60px 0;
    @include media-breakpoint-down(sm) {
        padding: 25px 0;
    }
    .title {
        border-top: 1px solid #cab6ad;
    }
    .layer2 {
        padding-top: 70px;
    }
    .layer2-left {
    }
    .layer2-right {
        @include media-breakpoint-down(md) {
            padding-top: 30px;
        }

        p {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 150%;

            color: #000000;
        }
        .link {
            margin-top: 50px;
        }
    }
    .slider__alt3 {
        padding-left: 230px;
        position: relative;
        margin-top: 60px;
        @media only screen and (max-width: 600px) {
            padding-left: 0;
            padding-bottom: 70px;
        }
        .nav__button {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 100;
            display: flex;
            gap: 20px;
            .prev,
            .next {
                cursor: pointer;
            }
            @media only screen and (max-width: 600px) {
                padding-left: 15px;
            }
        }
    }
    .slider-class {
        a:hover{
            text-decoration: none;
        }
            
        
        .slick-slide {
            margin-left: 15px;
            margin-right: 15px;
        }
        .slick-list {
            padding-left: 0px !important; // half partial
        }
        .item__title {
            font-weight: 500;
            font-size: 20px;
            line-height: 120%;
            text-transform: capitalize;
            color: #111822;
            margin-top: 30px;
            margin-bottom: 20px;
        }

        .item__excerpt {
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            color: #111822;
        }
        .img__wrap {
            border-radius: 20px;
            overflow: hidden;
            width: 100%;
            padding-top: 47%;
            position: relative;
            height: 0;
            .mask {
                height: 100%;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.3);
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            .item__tags {
                position: absolute;

                left: 20px;
                top: 20px;
                z-index: 11;
                display: flex;
                gap: 10px;
                p.tag {
                    font-weight: 400;
                    font-size: 11px;
                    line-height: 100%;
                    color: #111822;

                    background: #e3e3e3;
                    border-radius: 40px;

                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 6px 11px;
                }
            }
        }
    }
}
