.static_brands_section {
    background-color: #F8F8F8;
    padding: 85px 0;
    @include media-breakpoint-down(md) {
        padding: 50px 0;
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
        max-width: 815px;
        margin:0 auto;
        @include media-breakpoint-down(md) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img{
                margin-bottom: 20px;
            }
        }
    }
}